[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
ipykernel = "*"
ipympl = "*"
ipywidgets = "*"
mypy = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
nbqa = "*"
black = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.10"
